/* width */
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: white; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #3f3d3d ; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #0a0a0a ; 
  }
/* .MuiBackdrop-root{
    z-index: 9999 !important;
} */
.main-container{
    width: 100%;
    height: 100vh;
}
.row{
    width: 100% !important;
    margin: 0 !important;
}
.display-contents{
    display: contents;
}
.width-100{
    width: 100% !important;
}
.width-90{
    width: 95% !important;
}
.width-60{
    width: 60%;
}
.width-50{
    width: 50%;
}
.nowrap{
    white-space: nowrap;
}
.float-left{
    float: left;
}
.fit-content{
    width: fit-content !important;
}
.inline-flex{
    display: inline-flex;
}
.categories-avatar{
    overflow: auto;
    white-space: nowrap;
}
.categories-avatar li{
    display: inline-block;
    *display: inline;/*For IE7*/
    *zoom:1;/*For IE7*/
    vertical-align:top;
    margin-right:10px;
    white-space:normal;
    width: 60px;
    font-size: 11px;
    overflow: hidden;
}
.modal-backdrop{
    top: 55px !important;
}
.font-white{
    color:white;
}
.font-gray{
    color:gray !important;
}
.font-black{
    color:black !important;
}
.font-gold{
    color: #ffd56b !important;
}
.font-bold{
    font-weight: bold !important;
}
.font-link{
    cursor: pointer;
    text-decoration: underline;
}
.font-link:hover{
    cursor: pointer;
    text-decoration: underline;
    color: #000000b5;
}
.font-11{
    font-size: 11px !important;
}
.font-14{
    font-size: 14px !important;
}
.font-500{
    font-weight: 500 !important;
}
.font-400{
    font-weight: 400 !important;
}
.font-subheading{
    font-size: 1vw;
}
.font-para{
    font-size: 0.90vw !important;
}
.font-small{
    font-size: 0.80vw !important;
}
.font-xs{
    font-size: 0.70vw !important;
}
.MuiDrawer-paper{
    width: 28% !important;
}
.pl-0{
    padding-left: 0 !important;
}
.pr-0{
    padding-right: 0 !important;
}
.btn-div{
    width: 100%;
}
.btn-black{
    color: white !important;
    background-color: black !important;
    border-radius: 30px !important;
}
.btn-black:hover{
    color: black !important;
    background-color: white !important;
    border: 1px solid black;
}
.btn-white{
    color: black !important;
    background-color: white !important;
    border-radius: 30px !important;
    border: 1px solid black !important;
}
.btn-white:hover{
    color: white !important;
    background-color: black !important;
}
.btn-transparent{
    color: white !important;
    background-color: transparent !important;
    border-radius: 30px !important;
    border: 1px solid white !important;
    padding: 5px 25px !important;
}
.btn-centered{
    width: 300px;
    position: absolute !important;
    left: 0;
    right: 0;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: -24px !important;
    font-size: 20px !important;
}
.search-bar{
    width: 100% !important;
}
.bg-gray{
    background-color: #dcdcdc7a !important;
}
.bg-dark-gray{
    background-color: #3d3b3b7a !important;
}
.bg-blue{
    background-color: #38b5c9 !important;
}
.bg-black{
    background-color: #000 !important;
}
.zoom {
    padding: 50px;
    transition: transform .2s;
  }
  
.zoom:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
}
h4 {
    margin:0 0.5em;
    position:relative;/*here triggers overflow since no width is given */
    overflow:hidden;
    text-align:center;
}
h4:after , h4:before{
    content:'';
    margin-top:15px;
    height:0;
    border-top:groove 2px;
    width:100%;
    position:absolute;
    margin-right:-100%;/* reduce size virtually to zero at 100% */
    margin-left:1%;/* set margin from end  text */
}
h4:before{
    margin-left:-101%;/* reduce size virtually to zero at 100% + give margin from begin text */
}
.textField{
    margin-right: 10px;
}
.textField input{
    padding: 10px 7px !important;
}
.subscribe-div{
    width: 100%;
}
.filterList .MuiListItemButton-root{
    border-bottom: 1px solid #eee !important;
}
.add-btn{
    position: absolute !important;
    top: 70px !important;
    right: 13px !important;
}
label[for="file-input"] {
    display: block;
    margin-bottom: 1em;
    font-size: 1em;
    color: #fff;
    opacity: .9;
    font-weight: bold;
}

input[type="file"] {
    cursor: pointer !Important;
}
input[type="file"]::-webkit-file-upload-button {
    border: 2px solid black;
    padding: 2px 12px;
    background: transparent;
    color: black;
    font-size: 1em;
    transition: all .4s;
    cursor: pointer;
    border-radius: 20px;
}
input[type="file"]::-webkit-file-upload-button:hover {
    background: black;
    color: #fff;
}
input[type="file"]::-ms-browse {
    border: 2px solid black;
    padding: 2px 12px;
    background: #fff;
    color: black;
    font-size: 1em;
    transition: all .4s;
    cursor: pointer;
    border-radius: 20px;
}

.black-corner{
    background:
    linear-gradient(to bottom right, #c6a215 50%,transparent 50%) 0 0/50px 50px;
    background-repeat:no-repeat;
    padding: 15px;
    border: 1px solid #0000001c;
}

.css-16c50h-MuiInputBase-root-MuiTablePagination-select, .MuiTablePagination-actions{
    margin-bottom: 15px !important;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 425px) {
    .MuiDrawer-paper{
        width: 100% !important;
    }
    .MuiTab-root{
        min-width: 0 !important;
    }
    .search-bar{
        width: 90% !important;
    }
    .font-subheading{
        font-size: 5vw !important;
    }
    .font-para{
        font-size: 3vw !important;
    }
    .font-small{
        font-size: 3vw !important;
    }
    .font-xs{
        font-size: 3vw !important;
    }
    .add-btn{
        position: absolute !important;
        top: 62px !important;
        right: 13px !important;
    }
    .width-50{
        width: 95%;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 768px) {
    .MuiDrawer-paper{
        width: 50% !important;
    }
    .font-subheading{
        font-size: 2.5vw !important;
    }
    .font-small{
        font-size: 2vw !important;
    }
    .font-xs{
        font-size: 2vw !important;
    }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) {
    .MuiDrawer-paper{
        width: 36% !important;
    }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 2560px) {
    .subscribe-div{
        width: 90%;
    }
}